<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 pt-5">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Signup</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-group row">
              <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
              <div class="col-md-6">
                <input type="text" id="username" class="form-control" [formControlName]="'username'" name="username"
                  required [class.danger-input]="usernameEmpty" />
                <span class="text-danger" *ngIf="usernameEmpty">
                  Username cannot be empty
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password"
                  required [class.danger-input]="passwordEmpty" />
                <span class="text-danger" *ngIf="passwordEmpty">
                  Password cannot be empty
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
              <div class="col-md-6">
                <input type="password" id="confirmPassword" class="form-control" [formControlName]="'confirmPassword'"
                  name="confirmPassword" required [class.danger-input]="!confirmPasswordMatch" />
                <span class="text-danger" *ngIf="!confirmPasswordMatch">
                  Confirm password does not match
                </span>
              </div>
            </div>


            <span class="form-group pl-2 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Signup
              </button>
            </span>
            <div class="offset-md-4 pl-2 pt-3 row">
              <span class="text-danger" *ngIf="errorMessage.length !== 0">
                {{errorMessage}}
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>